.instagram-wrapper {
  width: 100%;
  padding: 15px 0;
  text-align: center;

  a {
    color: var(--pink);
    font-family: var(--inria-sans);
    font-size: 20px;
    font-weight: bolder;
  }
  a:hover {
    color: rgb(133, 255, 164);
  }
}
