.instagram-wrapper {
  width: 100%;
  padding: 15px 0 30px;
  text-align: center;

  a {
    color: var(--pink);
    font-family: var(--inria-sans);
    font-size: 26px;
    font-weight: bolder;
    background: rgb(133, 255, 164);
    box-shadow: 3px 3px var(--pink);
    transform: translateY(4px);
  }
}
